@media (max-width: 979px) {
	#forkme {
		top: 51px;
	}
}
@media (max-width: 767px) {
	.table thead tr th:first-child {
		display: none;
	}
	.table tbody tr td:first-child {
		display: none;
	}
	#tasks .table thead tr th:nth-child(2) {
		display: none;
	}
	#tasks .table tbody tr td:nth-child(2) {
		display: none;
	}
	#forkme {
		display: none;
	}
}